body {
    background-color: slateblue;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.header-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    font-size: 2em;
    font-weight: bolder;
    color: ghostwhite;
    border: solid ghostwhite 1px;
    border-radius: 30%;
    padding: 8px;
    transition: transform 0.3s ease-in-out;
}

header:hover {
    transform: rotate(180deg) scale(.5);
}

.header-div {
    margin: 16px;
    padding: 16px;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: repeat(16,auto);
    background-color: white;
    border: solid black 16px;
}

.grid-square {
    height: 32px;
    width: 32px;
    background-color: white;
    border-radius: 50%;
}

.dot, .purple-dot, .blue-dot, .pink-dot, .cyan-dot, .black-dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.dot {
    background-color: #e8789d;
}

.purple-dot {
    background-color: rgba(146, 42, 243, 0.83);
}

.pink-dot {
    background-color: #ce67d2;
}

.blue-dot {
    background-color: #a2e6fd;
}

.gold-dot {
    background-color: darkgoldenrod;
}

.cyan-dot {
    background-color: rgba(72, 250, 207, 0.82);
}

.black-dot {
    background-color: black;
}

.dot:hover, .blue-dot:hover, .pink-dot:hover, .purple-dot:hover, .gold-dot:hover {
    height: 25px;
    width: 25px;
    background-color: #45a145;
    border-radius: 50%;
}

.cyan-dot:hover, .blue-dot:hover {
    height: 25px;
    width: 25px;
    background-color: #d20662;
    border-radius: 50%;
}

.black-dot:hover {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
}

.score-counter {
    padding: 16px;
}

.footer-div {
    margin: 16px;
    padding: 16px;
}

.start-button {
    padding: 16px;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0);
    color: ghostwhite;
    border: rgba(248, 248, 255, 0);
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.start-button:hover {
    transform: scale(1.33);
    font-weight: bolder;
    background-color: rgba(81, 70, 162, 0.66);
}

.timer {
    font-size: 2em;
    font-weight: bolder;
    color: ghostwhite;
    border-radius: 30%;
    padding: 8px;
}
